body {
  background: #FFF;
  overflow-y: scroll;

  font: 0.95em/1.2 Asap, georgia, sans-serif;
  color: #333;
}
.wrapper {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 20px;
}

a { text-decoration: none; color: #FF7200; /*border-bottom: 1px solid transparent;*/}
a:hover { text-decoration: underline; }

h1 {font-size:2em;line-height:1;margin-bottom:0.5em;}
h2 {font-size:1.5em;margin-bottom:0.75em;}
h3 {font-size:1.2em;line-height:1;margin-bottom:1em;}
h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}
h5 {font-size:1em;font-weight:bold;margin-bottom:0.75em;}
h6 {font-size:1em;font-weight:bold;}
.left { float: left; }
.right { float: right; }
#extras {
  display: none;
  position: fixed;
  top: 0; right: 0; left: 0; bottom: 0;
  border-top: 5px solid #FF7200;
  border-bottom: 5px solid #FF7200;
  opacity: .5;
}

/* header */
header {
  background: #F8F8F8;
}
header h1, header span {
  display: inline-block;
  margin: 0;
  font-style: normal;
}
header h1 {
  font-family: 'Merienda One', Asap, georgia, sans-serif;
  font-size: 3em;
  color: #FF7200;
}
header h1 span {
  font-size: .5em;
  color: #AAA;
  padding-left: 10px;
  margin-top: -10px;
}
header h1 a:hover {
  text-decoration: none;
}
/* nav */
nav {
  background: #EEE;
  border-top: 2px solid #EAEAEA;
  border-bottom: 2px solid #EAEAEA;
}
nav .wrapper {
  padding: 0 20px;
}
nav li {
  display: inline-block;
  position: relative;
}
nav li > a {
  display: inline-block;
  position: relative;
  z-index: 2;
  padding: 5px 15px;
  border: 1px solid #EEE;
  color: #333;
}
nav li:hover > a, nav li:focus > a, nav li > a.active {
  background: #FFF;
  border-bottom-color: #FFF;
  text-decoration: none;
}
nav li.category > a:after {
  content: "";
  width: 5px;
  height: 5px;
  background: transparent url(/images/tiny-arrow.png) no-repeat -12px 0;
  display: inline-block;
  margin-left: 5px;
}

/* sub_nav */
nav .category:hover .sub_nav { display: block; }
nav .sub_nav {
  display: none;
  position: absolute;
  left: 0; top: 100%;
  z-index: 1;
  margin-top: -1px;
  background: #FFF;
  border: 1px solid #EEE;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
}
nav .sub_nav .col{
  padding: 10px;
  min-width: 125px;
}
nav .sub_nav .header {
  color: #666;
  border-bottom: 1px solid #EEE;
  padding-left: 5px;
  margin-bottom: 5px;
}
nav .sub_nav .col:not(:first-child) {
  padding-left: 0;
}
nav .sub_nav a {
  display: block;
  white-space: nowrap;
  padding: 5px;
}
nav .sub_nav a:hover {
  color: #333;
  text-decoration: none;
  background: #F1F1F1;
}

/* nav search */
#search_box {
  float: right;
  border: 0;
  outline: 0;
  background: url(/images/btn-search.png) 97% center no-repeat #EAEAEA;
  padding: 5px 30px 5px 10px;
  margin-top: 8px;
  color: #333;
  line-height: 1.2;
}

/* content */
.content {
  min-height: 400px;
  border: 1px solid #EAEAEA;
  border-top: 0;
  border-bottom: 0;
}
.content section::after {
  content: '';
  display: block;
  clear: both;
}
.content section {
  margin-left: 200px;
  padding-left: 10px;
}
.content aside {
  float: left;
  width: 200px;
  min-height: 300px;
}
aside .box {
  border: 1px solid #EAEAEA;
  margin-bottom: 10px;
  border-radius: 3px 3px 0 0;
}
.box .header{
  background: #EEE;
  padding: 5px 10px;
  font-weight: normal;
}
.box .list {
  padding: 5px;
}
.box a {
  font-size: 90%;
  display: block;
  padding: 5px;
  border-bottom: 1px solid #EEE;
}
.box .list li:last-child a {
  border-bottom: 0;
}
.box a:hover, .box a.active {
  color: #333;
  text-decoration: underline;
}

/* footer */
footer {
  min-height: 60px;
  background: #EEE;
  color: #666;
  border-top: 1px solid #EAEAEA;
}
footer .col {
  display: inline-block;
  width: 16.66%;
}
footer .col a:hover {
  color: #333;
}
footer .signature {
  float: right;
}
footer .signature a {
  font-weight: bold;
  color: #FF7200;
}
/* Button style links
***********************/

a.button {
  display: inline-block;
  border: 1px solid #CCC;
  padding: 5px 8px;
  margin: 2px 5px 2px 0;
  background: #EAEAEA;
  color: #474747;
  min-width: 54px;
  text-align: center;
  border-radius: 2px;
}
a.button:hover {
  border: 1px solid #AAA;
  color: #474747;
}
a.button:active {
  box-shadow: 0 0 5px rgba(0, 0, 0, .2) inset;
}

/* forms */
label, input, textarea, select {
  font-family: Asap, georgia, sans-serif;
  font-size: 100%;
  line-height: 1.2;
}
.form input[type=text], .form input[type=password], .form textarea {
  width: 250px; 
}
.form select, .form option, .form optgroup {
  font-size: 15px;
  background: #EEE;
  border: 1px solid #CCC;
  padding: 3px 5px;
  margin: 5px 0 0;
}
input[type=text], input[type=password], textarea {
  border: 1px solid #CCC;
  outline: 0;
  background: #FAFAFA;
  padding: 5px 8px;
  margin: 0;
  color: #333;
}
input[type=text]:focus, input[type=password]:focus, textarea:focus {
  border: 1px solid #AAA;
  background: #FFF;
}
input[type=button], input[type=submit] {
  display: inline-block;
  border: 1px solid #CCC;
  padding: 5px 8px;
  margin: 2px 5px 2px 0;
  background: #EAEAEA;
  color: #474747;
  min-width: 54px;
  text-align: center;
  border-radius: 2px;
}
input[type=button]:hover, input[type=submit]:hover, 
input[type=button]:focus, input[type=submit]:focus  {
  border: 1px solid #AAA;
  color: #474747;
}
input[type=button]:active, input[type=submit]:active {
  box-shadow: 0 0 5px rgba(0, 0, 0, .2) inset;
}

.form label {
  display: inline-block;
  padding: 5px 8px;
  min-width: 125px;
  vertical-align: top;
}
.form .entry {
  margin-bottom: 10px;
}
.form input[type=checkbox] {
  margin: 10px 5px;
}
.form textarea {
  resize: none;
}
/* misc */
fieldset {
  border: 2px solid #AAA;
}
.message {
  position: fixed;
  top: 0; left: 50%;
  width: 320px;
  margin: 0 0 0 -160px;
  text-align: center;
  font-size: 90%;
  color: #444;
  padding: 5px 8px;
  border-radius: 2px;
  border: 1px solid #AAA;
  background: #F9EDBE;
  box-shadow: 0 0 5px #bbb;
}
