/* Admin stylesheet */

.content h1 .new {
  display: inline-block;
  vertical-align: top;
  margin: -2px 0 0 5px;
}
.content h1 .new:hover {
  text-decoration: none;
  color: #333;
}

/* navigation */
nav li.category > a {
  cursor: default;
}

/* Table View */
.table {
  width: 100%;
  font-size: 90%;
  text-align: left;
}
.table .header {
  background: #F8F8F8;
}
.table th {
  font-weight: bold;
}
.table th, .table td {
  padding: 7px 10px 5px;
  border: 1px solid #DDD;
}


/* login */
#login .content section {
  margin-left: 0;
}

.login_form {
  padding: 5px 20px;
}

/* brands */

/* categories */
#root-node {
  font-size: 16px;
  line-height: 1;
}
.list > .node {
  margin-left: 15px;
}
.node.closed > .list {
  display: none;
}

.node > .toggle {
  display: inline-block;
  width: 10px;
  height: 20px;
  vertical-align: middle;
  padding: 0 5px;
  cursor: pointer;
}
.node.closed > .toggle{
  background: url(/images/arrow-right.png) no-repeat 8px 4px;
}
.node.opened > .toggle{
  background: url(/images/arrow-down.png) no-repeat 5px 5px;
}
.node.leaf > .toggle {
  background: none;
  cursor: default;
}
.node > .header {
  display: inline-block;
  margin-left: -5px;
  color: #333;
}
.node > .header:hover {
  border-bottom-color: #FF7200;
}
.node a.new_entry {
  font-size: 1.4em;
  border: 0;
}
.node a.new_entry:hover {
  text-decoration: none;
  color: #333;
}
