@font-face {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 400;
  src: local('Asap'), local('Asap-Regular'), url('Asap.woff') format('woff');
}

@font-face {
  font-family: 'Merienda One';
  font-style: normal;
  font-weight: normal;
  src: local('Merienda One'), local('MeriendaOne-Regular'), url('MeriendaOne.woff') format('woff');
}
