/* Store - Generic Styles */

/* Categories */
.sub-heading {
  margin: 0.75em 0 0.25em 0;
  border-bottom: 1px solid #FF7200;
}

/* Products */
.products-page aside {
  float:right;
  width: 180px;
}
.products-page section {
  margin: 0 185px 0 0;
  padding-left: 0;
}
.products-page .product-intro {
  margin-left: 310px;
}
.products-page .product-features {
  color: #444;
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 20px;
}
.products-page .product-features li {
  margin-bottom: 5px;
}
.products-page .product-image {
  width: 300px;
  text-align: center;
  float: left;
  border: 1px solid #EEE;
  margin: 0 10px 10px 0;
}
.products-page .product-image img {
  max-width: 290px;  
  padding: 5px;
}
.products-page .product-details {
  padding: 10px 0;
}
.products-page .product-description {
  line-height: 1.5;
}
.products-page .product-price {
  display: inline-block;
  padding: 15px;
  color: #888;
}
.product-price strong {
  font-size: 200%;  
  color: #FF7200;
  margin-left: 5px;
}

.products-page aside .sub-heading {
  margin: 0 0 5px 0;
}
.products-page aside .product {
  border-color: transparent;
  border-bottom-color: #F1F1F1;
}
.products-page aside .product:hover {
  background: #F1F1F1;
}
.products-page aside .product .image {
  height: inherit;
}

#buy-now {
  float: right; 
  margin: 10px 25px 15px 15px;
  border: none;
}
.specifications {
  padding: 0 20px;
}
.specifications table {
  width: 100%;
  margin: 10px 0;
  text-align: left;
}
.specifications .header {
  border-bottom: 1px solid #DDD;
  text-transform: uppercase;
}
.specifications .header h3 {
  margin: 0;
  padding: 0;
}
.specifications th { 
  width: 40%;
}
.specifications td, .specifications th{
  padding: 5px 10px;
  border-bottom: 1px dashed #DDD;
}

#cart {
  display: none;
}
#cart .dimmer {
  position: fixed;
  background: #333;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: .5;
  filter: alpha(opacity=50);
  width: 100%;
  height: 100%;
  _position: absolute;
}
#cart .popup {
  position: fixed;
  left: 50%; top: 150px;
  width: 600px;
  margin-left: -330px;
  z-index: 1001;
  text-align: left;
  padding: 20px;
  _position: absolute;
  background: #FFF;
  border: 10px solid #EEE;
}
#cart h1 {
  color: #FF7200;
  padding-top: 10px;
}
#cart .cart-description {
  margin: 30px 0;
}

/* Search styles */
.products {
}
.products li {
  display: inline-block;
  padding: 0 10px 10px;
  vertical-align: top;
}
.product {
  display: inline-block;
  width: 150px;
  padding: 5px;
  color: #333;
  border: 1px solid #F1F1F1;
  text-align: left;
}
.product:hover {
  text-decoration: none;
}
.product .image {
  text-align: center;
  width: 150px;
  height: 150px;
}
.product .image img {
  max-width: 150px;
  max-height: 150px;
}
.product .name {
  font-weight: bold;
  margin-top: 5px;
}
.product .price {
  font-size: 90%;
}

/* Shopping Cart - Checkout */
.shopping-cart-page aside {
  float: right;
  width: 300px;
}
.shopping-cart-page section {
  margin: 0 310px 0 0;
  padding-left: 0;
}
.success-summary p, .failure-summary p {
  font-size: 107%;
  line-height: 1.5;
}