# Redirecting all the requests to the store folder
RewriteEngine On
RewriteCond %{REQUEST_URI} !^/store/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /store/$1
RewriteRule ^(/)?$ /store/ [L]
